language: objective-c # lol
osx_image: xcode8
xcode_project: DVR.xcodeproj

script: xcodebuild -scheme "$TRAVIS_XCODE_SCHEME" test

matrix:
  include:
    - xcode_scheme: DVR-iOS
      xcode_sdk: iphonesimulator
    - xcode_scheme: DVR-OSX
      xcode_sdk: macosx

env:
  TOOLCHAINS=com.apple.dt.toolchain.Swift_2_3
